body{
    margin: 0px;
    background: #A9DBB8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
html{
    scroll-behavior: smooth;
}
.nav{   
    background: #427AA1;
    display: flex;
    align-items: center;
    height: 100px;
    margin: 0px;
}
.nav h2{
    color: #ffff;
}
.logo img{
    height: 80px;
    margin-left: 15px;
    margin-top: 20%;
}
.catego{
    position: absolute;
    right: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 0px;
}
.span{
    transition: 600ms;
    color: #ffff;
    text-decoration: none;
}
.span:hover{
    transition: 600ms;
    color: #A9DBB8;
}
.active-span{
    text-decoration: underline;
    text-decoration-color: #A9DBB8;
    color: #A9DBB8;
}
.content{
    background: #74abca;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0%;
}
.content img{
    width: 55%;
    height: 60%;
    border-radius: 15px;
    margin-left: 20px;
    border: 4px solid green;
}


.text h1{
    color: #fff;
    text-align: center;

    
}
.text p{
    margin: 15px;
    text-align: center;
    
}
.text{
    flex-direction: column;
    display: flex;
    justify-content:center;
}
.his{
    border-top: 2px solid black;
    position: relative;
    top: 0vh;
    width: 100%;
}
.his h1{
    text-align: center;
    padding: 30px;
}

.students{
    display: flex;
    align-items: center;
    position: relative;
    left: 10%;
    width: fit-content;
}
.students img{
    height: 200px;
}
.students h2{
    position: relative;
    left: 1%;
}
.teachers{
    display: flex;
    align-items: center;
    position: relative;
    left: 60%;
    width: fit-content;
    
}
.teachers img{
    height: 200px;

}
.teachers h2{
    position: relative;
    left: 1%;
}
.activ{
    display: flex;
    align-items: center;
    position: relative;
    left: 10%;
    width: fit-content;
}
.activ img{
    height: 200px;
}
.activ h2{
    position: relative;
    left: 1%;
}
.courses{
    display: flex;
    align-items: center;
    position: relative;
    left: 60%;
    width: fit-content;
}
.courses img{
    height: 200px;
}
.courses h2{
    position: relative;
    left: 1%;
}
footer{
    position: relative;
    top: 10vh;
    padding: 150px;
    background: gray;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    gap: 20px;
    border-top: 2px solid black;
}
footer button{
    padding: 10px;
    font-family: 'Audiowide';
}

.facebook-redirect{
    transition: 600ms;
    border: 2px solid blue;
    background-color: transparent;
    border-radius: 10px;
}
.facebook-redirect:hover{
    transition: 600ms;
    background-color: blue;
    color: white;
}
.instagram-redirect{
    transition: 600ms;
    border: 2px solid red;
    background-color: transparent;
    border-radius: 10px;
}
.instagram-redirect:hover{
    transition: 600ms;
    background-color: red;
    color: white;
}
.phone{
    transition: 600ms;
    background-color: transparent;
    border: 2px solid green;
    border-radius: 10px;
}
.phone:hover{
    transition: 600ms;
    background-color: green;
    color: white;
}
.mail{
    transition: 600ms;
    background-color: transparent;
    border: 2px solid cornflowerblue;
    border-radius: 10px;
}
.mail:hover{
    transition: 600ms;
    background-color: cornflowerblue;
    color: white;
}
footer h2{
    position: absolute;
    top: 10%;
    text-decoration: underline;
}
footer p{
    position: absolute;
    bottom: 0%;
}

.reveal{
    transition: 600ms;
     position: relative;
     transform: translateY(150px);
     opacity: 0;
}
.reveal.active{
    transition: 600ms;
    transform: translateY(0px);
    opacity: 1;
}
.mobile-nav{
    display: none;
    color: red;
}
